#buggy_dict_box{
    background-color:#1E1E1E;z-index:1000;
    top:10px;right:10px;
    max-width:350px;min-width:100px;min-height:100px;
    border-radius:10px;
    padding:10px;
    font-family: sans-serif;
    font-size: 16px;
    color: #9DA5B4;
}
.fix_box{position:fixed;}
.clear{clear:both;}
#buggy_dict_box .title_div{position:relative}
#buggy_dict_box .title_div .title{color:#4B4943;position:float;float:left;font-size: 12px;}
#buggy_dict_box .title_div .close{color:#ABA993;position:float;float:right;font-size: 12px;cursor: pointer;}
#buggy_dict_box .text{color:#B89471;font-size: 18px;font-weight: bold;}
#buggy_dict_box .pronounce{color:#81915A;font-size: 16px;}
#buggy_dict_box .translate{color:#84A095;font-size: 16px;}
.dict_hide{display:none}