#buggy_dict_box{
    background-color:#1E1E1E;position:fixed;z-index:1000;
    top:10px;right:10px;
    max-width:300px;min-width:100px;min-height:100px;
    border-radius:10px;
    padding:10px;
}
.clear{clear:both;}
#buggy_dict_box .title_div{position:relative}
#buggy_dict_box .title_div .title{color:#4B4943;position:float;float:left;}
#buggy_dict_box .title_div .close{color:#4B4943;position:float;float:right;}
#buggy_dict_box .text{color:#B89471}
#buggy_dict_box .pronounce{color:#81915A}
#buggy_dict_box .translate{color:#84A095}
.dict_hide{display:none}